<h1 id="welcome">Welcome to No Mess</h1>
<div class="container">
  <div class="cards">
    <% @user_ingredients.each do |ingredient| %>
      <div class="card-ingredient">
        <div class="card-ingredient-first">
          <% date = ingredient.expiration_date - Date.today %>
          <h2 class="card-ingredient-info-date"><%= date.to_i %>J</h2>
          <% result = Ingredient.find(ingredient.ingredient_id) %>
         <%= cl_image_tag result.photo.key, class: "index-card-img"%>
 <h2 class="card-ingredient-info-name"><%= result.name %></h2>
        </div>
        <div class="card-ingredient-edit">
            <%= link_to edit_user_ingredient_path(ingredient) do %>
              <i class="far fa-edit"></i>
            <% end %>
          </div>
          <div class="card-ingredient-delete">
           <%= link_to user_ingredient_path(ingredient), method: :delete,
                data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        <div class="card-ingredient-last">
          <h2><%= ingredient.quantity %></h2>
        </div>
      </div>
      <hr id="separation">
    <%end%>
  </div>
</div>
  <%= link_to new_user_ingredient_path do %>
      <%= image_tag "https://image.flaticon.com/icons/png/512/148/148764.png", :class => "button-add" %>
  <% end %>








