<div class="container">
<h3 id="welcome" class="mt-5 mb-3">Ajoutez vos ingrédients !</h3>

<%= simple_form_for [@user_ingredient] do |f| %>
<%= f.association :ingredient, label: "Ingrédient", input_html: {id: "ing", class: "select2" } %>
<%= f.input :quantity, label: "Quantité", required: true, label_html: { id:"label_quantity" }  %>
<%= f.input :purchase_date, label: "Date d'achat", as: :string, required: true, input_html: {placeholder: Date.today.strftime("%d/%m/%Y") , class: "datepicker" } %>
<%= f.input :expiration_date, label: "Date d'expiration", as: :string, required: true, input_html: {class: "datepicker"} %>
<div class="mt-5">
<%= f.button :submit, "Ajouter l'ingrédient !", class: "btn btn-success center-button"%>
</div>
<% end %>
</div>
