<div class="container-recipes">
  <div class="title-recipes"> Recettes proposées </div>
  <div class="card-recipes">
    <% @recipes.each do |recipe| %>
      <div class="card-recipe-content">
        <%= link_to recipe_path(recipe) do%>
          <div class="card-recipe">
            <img class="img-recipe" src="https://res.cloudinary.com/dc1jk4jut/image/upload/v1590507892/no_mess/veloute_brocolis_mooxso.png">
            <div class="card-recipe-infos">
              <div>
                <h2 class=""><%= recipe.name %></h2>
                <p> Temps total : <%= recipe.preparation_time + recipe.cooking_time %> min </p>
<!--                 <p> Temps de prération : <%= recipe.preparation_time %> min</p>
                <p> Temps de cuisson : <%= recipe.cooking_time %> min</p> -->
              </div>
            </div>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>
</div>

