<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar fixed-bottom-nav">

  <%= link_to user_ingredients_path, class: "navbar-brand" do %>
  <%= image_tag "https://res.cloudinary.com/dc1jk4jut/image/upload/v1590429430/no_mess/vegetable_navbar_wp4jxl.png" %>
  <% end %>

  <%= link_to recipes_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dc1jk4jut/image/upload/v1590429416/no_mess/recipe_navbar_xea489.png" %>
  <% end %>

  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dc1jk4jut/image/upload/v1590429400/no_mess/cook_navbar_hz4oys.png" %>
  <% end %>

</div>

